* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 댓글리스트 */
.comment {
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  border-top: 2px solid #333;
  position: relative;
}
.cmt_length {
  position: absolute;
  top: -40px;
}
.cmtbox {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  align-items: center;
  border-bottom: dotted 1px rgba(0, 0, 0, 0.15);
  padding-bottom: 5px;
}

.cmtbox p {
  display: inline;
}
.cmt_name {
  margin: 0 20px 0 10px;
  width: 100px;
  text-align: center;
}
.mod_btn {
  margin: 0 20px;
}
.del_btn,
.mod_btn {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: none;
}
.del_btn:hover,
.mod_btn:hover {
}
.del_btn:active,
.mod_btn:active {
}

/* 댓글작성폼 */
.cmt_form {
  margin-top: 50px;
  border: 1px solid rgba(20, 20, 20, 0.4);
  border-radius: 5px;
  padding: 20px;
}
.cmt_writebox {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 70px;
}
.cmt_user {
  width: 20%;
}
.cmt_id,
.cmt_pw {
  width: 100%;
  height: 40%;
  padding-left: 5px;
}
.cmt_id {
  margin-bottom: 0.6rem;
}
.cmt_user {
}
.cmt_write {
  width: 80%;
}
.cmt_desc {
  width: 100%;
  height: 100%;
  padding: 8px;
}
.cmt_btn {
  margin-top: 20px;
  margin-left: 90%;
  padding: 5px 10px;
}
